
body{
    padding: 20px;
    padding-bottom: 500px;
    background-color: #3d4750;
}
#titulo-principal
    {color: #9fb3c4;
    background-color: #486681;
text-align: center;
}

.meu-parágrafo{
    color: #9fb3c4;
}
